{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="jumbotron text-success mt-5 shadow-lg" style="height: 300px">
        <h1 class="h1 text-center text-justify mt-5 text-uppercase">Prenez contact avec nous</h1>
    </div>
    <div>
        {{ include('index/home_section/contact.html.twig') }}
    </div>
</div>
{% endblock %}


