{% extends 'base.html.twig' %}

{% block title %}Realisations de la DNPM{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="jumbotron text-success mt-5 shadow-lg" style="height: 300px">
        <h1 class="h1 text-center text-justify mt-5 text-uppercase">Nos Realisations</h1>
    </div>
    <hr>
    <div class="row mb-2">
        {% for realisation in realisations %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ realisation.title }}</h3>
                        <div class="mb-1 text-muted">{{ realisation.endAt| date('d/m/Y') }}</div>
                        <p class="card-text mb-auto">{{ realisation.description|markdown }}</p>
                        <a href="#" class="stretched-link">Continuer a lire</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}