{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title 'DNPM Administration' %}

{#{% block page_title 'Bienvenue dans l\'espace d\'administration de la DNPM' %}#}

{% block page_content %}
    <div class="row">
        <div class="col-3">
            <div class="jumbotron bg-primary">

            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron bg-info">

            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron bg-warning">

            </div>
        </div>

        <div class="col-3">
            <div class="jumbotron bg-danger">

            </div>
        </div>
    </div>

{% endblock %}
