<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>F.A.Q</h2>
            <p>Questions frequentes</p>
        </div>

        <div class="faq-list">
            <ul>
                {% for faq in faq %}
                    <li>
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-{{ faq.id }}">
                            <h5>{{ faq.question }}</h5>
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-{{ faq.id }}" class="collapse" data-parent=".faq-list">
                            <p>{{ faq.explication }}</p>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>

    </div>
</section><!-- End F.A.Q Section -->