<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" >
            <h2>Services</h2>
            <p><small class="font-weight-bold">Nos services pour vous servir</small></p>
        </div>

        <div class="row" >
            {% for service in services %}
                <div class="col-md-4 ">
                    <div class="icon-box mb-0 shadow">
                        <i class="ri-bar-chart-2-fill"></i>
                        <h3 class="h3 text-white"><a href="#" class="d-flex align-content-start p-5">{{ service.title }}</a></h3>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Features Section -->
