<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>DNPM</h3>
                        <p class="pb-3"><em>Direction Nationale de la Pharmacie et du Medicament</em></p>
                        <p>
                            Rép. Guinée Ministère de la Santé <br>
                            Boulevard du Commerce <br>
                            BP:585<br><br>
                            <strong>Phone:</strong> +224 622 805 443<br>
                            <strong>Email:</strong> info@ms-dnpm.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Lien utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('index_home') }}">Acceuil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('index_apropos') }}">Apropos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('index_services') }}">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ressources</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">eSIGL</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-8 footer-links">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services des activites economiques</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Service des Visas Homologations et Autorisation</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Service des Stupéfiants</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Unité des Réactif à Usage de Diagnostic in Vitro </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Unité des Produits Cosmétiques et d'Hygiène Corporelle </a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Ressources</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">LNME</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>DNPM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed and developed by <a href="#">Sall MIS</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>